<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecommerce.mapper.RegChannelMapper">
    <select id="selectAll" resultType="RegChannel">
        SELECT * FROM t_reg_channel ORDER BY channel_id
    </select>
    <select id="selectById" parameterType="Integer" resultType="RegChannel">
        SELECT * FROM t_reg_channel WHERE channel_id = #{channelId}
    </select>
</mapper>